.toy-preview {
  background-color: $clr0;
  color: $clr1;
  border-radius: 0.2em;
  // margin: 5px;
  // text-align: center;
  padding: 10px;
  max-width: 300px;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: rgb(180, 180, 180);
    font-weight: 500;
  }

  p {
    margin: 0.3rem;
  }

  .toy-name {
    cursor: pointer;
    color: $clr2;
  }
}

.preview-img-container {
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
  cursor: pointer;

  .preview-img {
    object-fit: contain;
  }
}
