.toy-index {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toy-index-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.index-toy-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-toy-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
